body div {
  background-color: blue;
  height: 5vh;
}

#nombre:hover {
  background-color: brown;
}

ul > li {
  color: blueviolet;
}

div + div{
    background-color: brown;
}

h1 ~ p{
    color: green;
}